* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

:root {
  /* primary-colors */
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-dark-violet: hsl(257, 27%, 26%);
  /* secondary-colors */
  --secondary-red: hsl(0, 87%, 67%);
  /* neutral-colors */
  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-grayish-violet: hsl(257, 7%, 63%);
  --neutral-grayish-violet-light: hsl(255, 25%, 94%);
  --neutral-very-dark-blue: hsl(255, 11%, 22%);
  --neutral-very-dark-violet: hsl(260, 8%, 14%);
  /* typography*/
  --font-size-title-hero: 20px;
  --font-size-title: 18px;
  --font-family: "Poppins", sans-serif;
  --weight-500: 500;
  --weight-700: 700;
  --line-height: 190%;
}

header,
section {
  /* padding: 0 5vw; */
}

.padding-content {
  padding: 0 10vw;
}
.App {
  /* padding: 0 5vw; */
}

.App-header {
  /* border: 2px solid red; */
}

.App-header-logo {
  display: flex;
  align-items: center;
}

.App-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 0 6vh;
  position: relative;
}

.App-header-nav {
  /* border: 2px solid red; */
  background: var(--primary-dark-violet);
  border-radius: 10px;
  color: whitesmoke;
  /* display: flex;
  justify-content: center;*/
  position: absolute;
  top: 70%;
  left: 0;
  opacity: 0;
  padding: 2vh;
  width: 100%;
  transition: all linear 0.3s;
  transform: translateY(-100%);
  z-index: 1;
}

.App-header-nav.show {
  opacity: 1;
  transform: translateY(0%);
}

.nav-links {
  border-bottom: 1px solid var(--neutral-grayish-violet);
}

.nav-links,
.nav-links-session {
  text-align: center;
}

.nav-links li,
.nav-links-session li {
  padding: 2vh;
  font-weight: var(--weight-700);
}

.nav-content-button button {
  border: none;
  background-color: var(--primary-cyan);
  border-radius: 50px;
  color: whitesmoke;
  font-size: calc(1vw + 0.5em);
  font-weight: var(--weight-700);
  padding: 2vh 0vw;
  width: 100%;
}

.header-menu-icon {
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 10;
}

.header-menu-hamburger,
.header-menu-close {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all linear 0.3s;
}

.header-menu-hamburger {
  z-index: 8;
}

.header-menu-close {
  opacity: 0;
  z-index: 5;
}

.header-menu-hamburger.hidden {
  opacity: 0;
}

.header-menu-close.show {
  opacity: 1;
}

.header-menu-hamburger img,
.header-menu-close img {
  width: 100%;
  height: 100%;
}

/* hero-section */

.App-hero-content {
  display: flex;
  flex-direction: column-reverse;
}

.hero-content-action {
  text-align: center;
  padding: 5vh 2vw 0;
}

.hero-content-action h1 {
  color: var(--neutral-very-dark-blue);
  font-size: calc(1vw + 3em);
}

.hero-content-action h4 {
  font-size: calc(1vw + 0.5em);
  padding-top: 2vh;
}

.hero-content-button {
  padding-top: 3vh;
}

.hero-content-button button {
  border: none;
  background-color: var(--primary-cyan);
  border-radius: 50px;
  color: whitesmoke;
  font-size: calc(1vw + 0.5em);
  font-weight: 600;
  padding: 2vh 10vw;
}

.hero-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* input-section */

/* .App-input-link-content {
  margin-top: 12vh;
  position: relative;
} */

/* .App-input-link-content::before {
  content: "";
  background-color: var(--neutral-grayish-violet-light);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
} */

/* .link-content-short {
  background: url("./assets/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-dark-violet);
  border-radius: 10px;
  padding: 2vh 6vw;
  position: relative;
  z-index: 5;
}

.link-content-short form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-content.input,
.link-content.button {
  width: 100%;
  height: 7vh;
}

.link-content input,
.link-content button {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.link-content input {
  font-size: 18px;
  padding-left: 2vw;
}

.link-content.button {
  margin-top: 2vh;
}

.link-content button {
  border: none;
  background-color: var(--primary-cyan);
  color: whitesmoke;
  font-size: calc(1vw + 0.5em);
  font-weight: 600;
  padding: 2vh 6vw;
} */

/* statistics section*/
.App-statistics-content {
  background-color: var(--neutral-grayish-violet-light);
  text-align: center;
  padding-bottom: 10vh;
}

.statistics-content-title {
  padding: 10vh 4vw 0;
}
.statistics-content-title h2 {
  color: var(--neutral-very-dark-blue);
  font-size: calc(1.5vw + 1em);
}

.statistics-content-title h4 {
  font-size: calc(1vw + 0.5em);
  padding-top: 3vh;
}

.statistics-content-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 10vh; */
  margin-top: 10vh;
  position: relative;
}

.statistics-content-cards::before {
  content: "";
  background-color: var(--primary-cyan);
  position: absolute;
  width: 6px;
  height: 70%;
}

.text-gray {
  color: var(--neutral-gray);
  line-height: var(--line-height);
  font-weight: var(--weight-500);
}

/* footer */

.footer-content-action,
.footer-content-navigation {
  text-align: center;
}

.footer-content-action {
  background-color: peru;
  background: url("./assets/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-dark-violet);
  color: whitesmoke;
  padding: 10vh 2vw;
}

.footer-content-action h2,
.footer-content-navigation h3 {
  font-size: calc(1vw + 1.5em);
}

.footer-content-button {
  padding-top: 2vh;
}

.footer-content-button button {
  border: none;
  background-color: var(--primary-cyan);
  border-radius: 50px;
  color: whitesmoke;
  font-size: 6vw;
  font-size: calc(1vw + 0.5em);
  font-weight: 600;
  padding: 2vh 10vw;
}

.footer-content-navigation {
  background-color: var(--neutral-very-dark-violet);
  color: whitesmoke;
  padding: 6vh 0;
}

.footer-nav-links {
  /* border: 2px solid red; */
  padding-top: 5vh;
}

.footer-nav-links li:not(li:first-child) {
  color: var(--neutral-gray);
  padding-top: 2vh;
}

.footer-nav-links li:first-child {
  font-size: calc(1vw + 0.5em);
  font-weight: bold;
}

.footer-content-social-media {
  display: flex;
  justify-content: space-evenly;
  padding-top: 6vh;
}

@media only screen and (min-width: 768px) /* (min-device-width: 768px) and (max-device-width: 1024px) { */ {
  .App-header-nav {
    /* border: 2px solid red; */
    background-color: transparent;
    color: black;
    position: relative;
    opacity: 1;
    transform: translateY(0);
  }
  .App-header-nav ul {
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    border-bottom: none;
  }

  .nav-links,
  .nav-links-session {
    display: flex;
    align-items: center;
  }

  .nav-links li,
  .nav-links-session li {
    color: var(--neutral-grayish-violet);
  }

  .nav-content-button button {
    padding: 2vh 2vw;
  }

  .header-menu-icon {
    display: none;
  }

  .App-hero-content {
    flex-direction: row;
    padding: 0 0 0 10vw;
  }

  .hero-content-action {
    text-align: initial;
    width: 40%;
    padding: 0;
  }

  .hero-content-button button {
    padding: 2vh 4vw;
  }

  .link-content-short {
    padding: 6vh 6vw;
  }

  .link-content-short form {
    flex-direction: row;
  }

  .link-content.input {
    width: 100%;
  }

  .link-content.button {
    margin-top: 0;
    padding: 0 2vw;
    width: 35%;
  }

  .link-content.button button {
    padding: 0;
  }

  .statistics-content-cards {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  .footer-content-button button {
    padding: 2vh 5vw;
  }

  .footer-content-navigation {
    display: flex;
    justify-content: center;
  }

  .App-footer-nav {
    width: 50%;
  }
  .App-footer-nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .footer-content-social-media {
    align-items: flex-start;
    justify-content: space-around;
    width: 20%;
  }
}
